@media print {
    @page{
        size:letter;
        -webkit-print-color-adjust:exact;
    }
    b, strong, p, ul, ol, li, dd, dt, h1,h2,h3{
        color:black;
    }
    .navigation{
        display:none;
    }
    .salad{
    margin-top:200px;
            width:150px;
            height:100px;
        }
.snacks, .desserts{
    width:200px;
    height:150px;
    margin-top:200px;
}
.gallery{
    width:150px;
    height:350px;
}
.cooker{
    margin-top:600px;
}
.food, .terms-img{
    margin-top:180px;
}
.form-image{
    width:400px;
    height:270px;
}
.recipe-new{
    width:250px;
 height:150px;
}
}

@media only screen and
(min-device-width: 320px)
and (max-device-width: 480px) {
    .body{
        width:450px;
        font-size: 14px;
    }
    .column{
    float: left;
    padding: 5px;
}
    .navigation{
        width:8%;
        height:1000px;
    }
   .navigation ol{
       padding-left:0;
    }
    .text-main{
        margin-left:5px;
        width:40%;
    }
    .side-bar{
    width:30%;
}
.image-for-main-page{
    margin-top: 300px;
    width:400px;
    height:600px;
}
.salad{
    margin-top:120px;
            width:200px;
            height:150px;
        }
.snacks, .desserts{
    width:300px;
    height:250px;
    margin-top:150px;
}
.new-page{
    margin-top:30px;
width:400px;
 height:300px;
}
.gallery{
    width:150px;
    height:350px;
}
.cooker{
    margin-top:600px;
}
.food, .terms-img{
    margin-top:180px;
}
.form-image{
    width:400px;
    height:270px;
}
.recipe-new{
    width:250px;
 height:150px;
}
}

@media only screen and
(min-device-width: 1024px)
and (max-device-width: 1500px) {
p, ul, ol, li, dd, strong, b{
    font-size:25px;
}
h1,h2,h3,h4, .quote{
     font-size:30px;
}
.navigation{
     width:10%;
    height:2500px;
}
.navigation>p{
    font-size:25px;
}
.navigation ol{
       padding-left:0;
    }
.salad{
    margin-top:160px;
    width:400px;
    height:300px;
        }
.snacks, .desserts{
    width:400px;
    height:350px;
    margin-top:300px;
}
.gallery{
    width:250px;
    height:450px;
}
.cooker{
    margin-top:320px;
    width:320px;
    height:300px;
}
.food, .terms-img{
    margin-top:150px;
}
.form-image{
    width:800px;
    height:670px;
}
.recipe-new{
    width:750px;
 height:450px;
}
}

@media  only screen and
(min-device-width: 3200px)
and (max-device-width: 7680px) {

p, ul, ol, li, dd, strong, b{
    font-size:45px;
}
h1,h2,h3,h4, .quote, dt{
     font-size:50px;
}
.navigation{
     width:15%;
    height:2000px;
}
.navigation>p{
    font-size:45px;
}
.salad{
    margin-top:150px;
    width:700px;
    height:600px;
        }
.snacks, .desserts{
    width:700px;
    height:650px;
    margin-top:300px;
}
.gallery{
    width:500px;
    height:900px;
}
#d1,#d2,#d3,#d4{
    font-size:60px;
}

.cooker{
    margin-top:320px;
    width:320px;
    height:300px;
}
.food{
     width:600px;
    height:370px;
    margin-top:150px;
}
.terms-img{
    width:600px;
    height:800px;
    margin-top:150px;
}
.form-image{
    width:1000px;
    height:870px;
}
.recipe-new{
    width:750px;
 height:450px;
}
.image-for-main-page{
    margin-top:200px;
    margin-bottom: 100px;
    width:600px;
    height:800px;
}
.history-image{
    margin-top:300px;
    width:700px;
    height:900px;
}
}


:root{
    background-color: #2c786c;
}
.column{
    float: left;
    padding: 10px;
}

.text-main{
margin-left:20px;
width:70%;
text-align:justify;
}
 .side-bar{
    width:20%;
}


body {
	opacity: 0;
	transition: 3s opacity ease-in-out;
}
.body_visible {
	opacity: 1;
}

footer{
    margin-top:10px;
    width:80%;
    color:aliceblue;
    line-height: 1.5em;
    position: relative;
    left:550px;
}
